.ipynb_checkpoints\
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Data Exploration-checkpoint.ipynb
.ipynb_checkpoints/Model Training-checkpoint.ipynb
.ipynb_checkpoints/Result Analisys-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Model Training-checkpoint.ipynb
.ipynb_checkpoints/Data Exploration-checkpoint.ipynb
